extends layout

block content
	p(align)
	h1 Caselaw Explorer
	h2 Federal Jurisdictions

	- var date = new Date
	- var yyyy = date.getFullYear();
	- var mm = date.getMonth()+1;
	- if ( mm < 10 ) { mm = '0' + mm };
	- var dd = date.getDate();
	- if ( dd < 10 ) { dd = '0' + dd };
	- var dateString = yyyy + '-' + mm + '-' + dd;

	div.fields-container
		div.field-horizontal
			label(for='min-date') Earliest Decision Date
			input#min-date(type='date' min='1657-01-01' max='#{dateString}')
		div.field-horizontal
			label(for='max-date') Latest Decision Date
			input#max-date(type='date' min='1657-01-01' max='#{dateString}' )

	p
		| Select Court: 
		select#court-select
			option(value='none') All Courts

	p
		| Search Full Text: 
		input#search-terms(type='text')

	p.
		The full text search feature is currently not working correctly with the other filters. The CAP API developers are currently working to fix this. To use the full text functionality, we recommend leaving all other fields empty or setting them to default.

	div#results

	div.key-box
		| API Key: 
		input.key-field(type='text')

	script var key = '#{key}';

	script(src='/javascripts/federal-cases.js')