extends layout

block content
	div.jumbotron
		div.container
			h1 Federal Cases
			p Browse case law from all federal courts, including the Supreme Court.
			p.
				Paste your API key in the box on the top right-hand corner of the page to get full access to cases found in the Caselaw Explorer.
			p(style='display: none').
				This front-end application was developed by the #[a(href='https://www.jackmillercenter.org/') Jack Miller Center] in support of the study and teaching of America's founding principles and history.

	div.container
		div.row.align-items-center
			div.col-sm-6.search-fields
				label(for='min-date') Earliest Decision Date:
				input#min-date(type='date' min='1657-01-01' max='#{dateString}')
			div.col-sm-6.search-fields
				label(for='max-date') Latest Decision Date:
				input#max-date(type='date' min='1657-01-01' max='#{dateString}' )
		div.row.align-items-center
			div.col.search-fields
				label(for='court-select') Select Court:
				select#court-select
					option(value='none') All Federal Courts
		div.row.align-items-center
			div.col-sm-6.search-fields
				label(for='search-terms') Search Full Text:
				input#search-terms(type='text')
			div.col-sm-6.search-fields
				label(for='page-select') Results per page: 
				select#page-select
					option 5
					option(selected='selected') 10
					option 25
					option 50
					option 75
					option 100

	div.container.results
		div.row.cases-nav
		div.row
			div#all-cases.cases-list.col
		div.row.cases-nav

		hr
		footer
			p © John Hungerford 2018


	script(src='/javascripts/index.js')
	script(src='/javascripts/federal-cases.js')