doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Caselaw Explorer
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
	body
		nav.navbar.navbar-expand-sm.navbar-light.bg-light
			a.navbar-brand.home-link(href='#') Case Law Browser
			button.navbar-toggler(type='button', data-toggle='collapse' data-target='#navbarSupportedContent')
					span.navbar-toggler-icon
			div#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link.federal-link(href='#') Federal Cases
					li.nav-item
						a.nav-link.state-link(href='#') State Cases
				div.key-field-box
					span.key-text API Key: 
					if key
						input#key-field(type='text' value='#{key}' aria-label='Search' style='display:none')
						span.key-text#key-val #{key}
					else
						input#key-field(type='text' placeholder='CAP API Key' aria-label='Search')
						span.key-text#key-val(style='display:none') 
		div.clearfix
							

		- var date = new Date;
		- var yyyy = date.getFullYear();
		- var mm = date.getMonth()+1;
		- if ( mm < 10 ) { mm = '0' + mm };
		- var dd = date.getDate();
		- if ( dd < 10 ) { dd = '0' + dd };
		- var dateString = yyyy + '-' + mm + '-' + dd;
		script.
			var key = '#{key}';

		block content
		
