body {
 	position: relative;
 	border: 1px solid black;
 	max-width: 700px;
 	margin: auto;
 	margin-top: 20px;
 	margin-bottom: 20px;
  	padding: 50px;
  	padding-top: 0;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

a:link {
	color: #00B7FF;
}

a:visited {
	color: #A2C5D3;
}

a.:hover {
}

span {
}

#year-range {
	border: none;
}

#slider-container {
	position: relative;
	height: 16px;
}

#slider-shrinker {
	position: absolute;
	width: 50%;
	left: 0;
}

.main-link-container::after {
	content: "";
    clear: both;
    display: table;
}

.main-link {
	font-size: 2em;
	text-align: center;
	float: left;
  	width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */
 	padding: 20px; /* if you want space between the images */
}

.federal-link:hover, .state-link:hover {
	 text-shadow: 2px 2px 2px #1a2226;
}

.key-box {
	position: absolute;
	margin: 20px;
	top: 0;
	right: 0;
}

.slider { 
}

.navigation {
	position: relative;
	padding: 32px;
	text-align: center;
}

.link-next {
	position: absolute;
	top: 0;
	right: 0;
	margin: 30px;
}

.link-prev {
	position: absolute;
	top: 0;
	left: 0;
	margin: 30px;
}